body {
    background-color:aliceblue;
    
}

.head {
    text-align: center;
    background-color: rgb(169, 50, 29);
    color: white;
    border-radius: 10px;
    border-inline-width: 3px;
    border-color: solid black;
    font-style: normal;
}
.vide {
    background-color: brown;
    border: 5px;
    border-radius: 3px;
    border-color: black;
}
.audi {
    background-color: chocolate;
}